@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
}
body{
	background-color: #fcfbfb;
}
h3{
	margin-top: 0;
}
.menu{
position: fixed;
width: 240px;
height: 100%;
background-color: #0059ab;
}
input.login {
        background: url(image/login.PNG) no-repeat;
        cursor: pointer;
        width: 120px;
        height: 40px;
        border: 1px solid gray;
		position: absolute;
		top: 100px;
      }
 input.account {
   background: url(image/account.PNG) no-repeat;
   cursor: pointer;
   width: 120px;
   height: 40px;
   border: 1px solid gray;
   position: absolute;
	top: 100px;
	left: 120px;
 }
 input.bbs1 {
   background: url(image/bbs1.PNG) no-repeat;
   border: none;
   cursor: pointer;
   width: 240px;
   height: 60px;
   position: absolute;
	top: 200px;
 }
 .techbbs_hjh {
   background: url(image/bbs2.png) no-repeat;
   border: none;
   cursor: pointer;
   width: 240px;
   height: 60px;
   position: absolute;
	top: 280px;
 }
 input.bbs3 {
   background: url(image/bbs3.PNG) no-repeat;
   border: none;
   cursor: pointer;
   width: 240px;
   height: 60px;
   position: absolute;
	top: 360px;
 }
 input.bbs4 {
   background: url(image/bbs4.png) no-repeat;
   border: none;
   cursor: pointer;
   width: 240px;
   height: 60px;
   position: absolute;
	top: 440px;
 }
 input.bbs5 {
   background: url(image/bbs5.png) no-repeat;
   border: none;
   cursor: pointer;
   width: 240px;
   height: 60px;
   position: absolute;
	top: 520px;
 }
 input.bbs6 {
   background: url(image/bbs6.png) no-repeat;
   border: none;
   cursor: pointer;
   width: 240px;
   height: 60px;
   position: absolute;
	top: 600px;
 }

.wrap{
   width: 1000px;
   height:100%;
 margin-top:0;
 padding: 20px;
 position: relative;
 left: 300px;
}
.titlediv{
	  width: 1000px;
   height:100%;
 margin-top:0;
 padding: 20px;
 position: relative;
 top: 30px;
 left: 300px;
}
.myinfo{
  padding: 20px;
  float: left;
  border: 1px solid #bcbcbc;
  width: 75%;
    border-collapse: separate;
    border-spacing: 2px;
    text-align: left;
    vertical-align: baseline;
    background-color: #fff;
 }
.writearea{
  padding: 20px;
  margin-bottom: 20px;
  float: left;
  border: 1px solid #bcbcbc;
  width: 75%;
    border-collapse: separate;
    border-spacing: 2px;
    text-align: left;
    vertical-align: baseline;
 	background-color: #fff;
 }
 .upload{
 width: 300px;
    margin-bottom: 20px;
    float: right;
    display:inline-block;
    padding-top: 175px;
 }
 .buttons{
 clear: both;
width: 100%;
 }
 span {
	border-radius: 5px;
}
.fileload{
	display: inline-block;
	float: left;
}
.btn btn-success btn-wide{
	float: right;
}